@media screen and (device-width: 480px) and (orientation: portrait) 
{
	.port
	{
	height: auto;
	background-color: blue;

	}
}

@media screen and (device-width: 854px) and (orientation: landscape) 
{
	.port
	{
	height: auto;
	background-color: green;
	}
	
}
