@media screen and (device-width: 480px) and (orientation: portrait) /
{
	.port
	{
	height: auto;
	background-color: aqua;
	}
	
	.klej
	{
	height: auto;
	background-color: lightblue;
	}
}

@media screen and (device-width: 854px) and (orientation: landscape) 
{
	.port
	{
	height: auto;
	background-color: green;
	}
	
	.klej
	{
	height: auto;
	background-color: red;
	}
}
